@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,700;1,700&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
   font-family: 'Outfit';
    font-size: 18px;
    background: hsl(217, 54%, 11%);


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

   
}
.main{
    
    background: hsl(216, 50%, 16%);
    width: 20%;
    height: 450px;
    
    padding: 10px;
    border-radius: 10px;
    margin-top: 65px;
    


    
}
.main  .image img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    
}

.image {
    
   
    position: relative;
    overflow: hidden;
}
#cc{
    background: hsl(178, 100%, 50%,0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}
.image:hover #cc {
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
#ccc{
    width: 50px;
    height: 50px;
}
h3{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin: 10px 0;
}
p{
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
    font-weight: 400;
}
span{
    color: hsl(0, 0%, 100%);
}
.eth-clo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eth-clo img{
    width: 25px;
    height: 25px;
}
.eth p{
    padding: 0 5px;
}
.eth ,.clo{
    display: flex;
   
    

}
.eth p{
    color: hsl(178, 100%, 50%);
}
hr{
    margin: 10px 0;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

footer img{
    width: 50px;
    height: 50px;
   
}

@media(max-width: 500px){
    .main{
    
        width: 50%;
        height: 450px;
      
    }
}

@media(max-width: 700px) and (  min-width: 600px){
    .main{
    
        width: 40%;
        height: 450px;
      
    }
}
@media(max-width: 800px) and (  min-width: 701px){
    .main{
    
        width: 30%;
        height: 450px;
      
    }
}@media(max-width: 880px) and (  min-width: 801px){
    .main{
    
        width: 30%;
        height: 450px;
      
    }
}
@media(max-width: 1000px) and (  min-width: 881px){
    .main{
    
        width: 25%;
        height: 450px;
      
    }
}